unnamed-chunk-4-1.png
wordcloud_Barroso2010_sentiment-1.png
wordcloud_Barroso2011_sentiment-1.png
wordcloud_Barroso2012_sentiment-1.png
wordcloud_Barroso2017_sentiment-1-1.png
wordcloud_allSoteu_sentiment-1.png
wordcloud_all_soteu-1.png
wordcloud_all_soteu_byspeech_ss-1.png
wordcloud_crisis-1.png
wordcloud_juncker2016_sentiment-1.png
wordcloud_juncker2015_sentiment-1.png
